.personal-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}
.personal-img{
    border: 5px solid #8a2be2;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.break-duration {
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.side-section{
    margin: 20px;
    padding: 10px;
}
.heading{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.break-time, .study-details {
    background-color: #b3f5e75e;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 20px;
}
.break-time{
    margin-top: 15px;
}
.complete-btn{
   margin-top:15px;
}
.btn-last{
    text-align: center;
}

.raise:hover,
.raise:focus {
  box-shadow: 1px 1px 10px 10px(--hover);
  transform: translateY(-0.50em);
}